extends layout

block content
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
  script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
  // 添加文本编辑框
  div.p-4
    textarea.border.rounded.p-2.mb-2.w-full(style='height: calc(100vh - 10rem);' placeholder='Please enter the markdown text.' id='markdown', required)
    p.text-red-500.hidden#markdown-error Markdown cannot be empty.

  div.px-4(class="flex flex-col lg:h-16 lg:items-center lg:justify-end lg:flex-row gap-4")
    input.border.rounded.p-2(class="lg:w-200",placeholder='Access address.' id='url', required,value=url)
    p.text-red-500.hidden.p-2#url-error(class="lg:w-200") URL cannot be empty.

    input.border.rounded.p-2(class="lg:w-200",placeholder='Modified password.' id='password', required)
    p.text-red-500.hidden.p-2#password-error(class="lg:w-200") Password cannot be empty.

    button.bg-blue-500.text-white.px-4.py-2.rounded(class="lg:w-200",onclick='submit()') submit


  script.
    // 创建 SimpleMDE 编辑器
    var simplemde = new SimpleMDE({
      element: document.getElementById('markdown'),
      initialValue: `#{markdown}`,
    });

    
    function submit() {
      // 获取文本框内容并处理
      const markdownValue = simplemde.value();
      const urlElement = document.getElementById('url');
      const passwordElement = document.getElementById('password');

      // 隐藏错误提示
      document.getElementById('markdown-error').classList.add('hidden');
      document.getElementById('url-error').classList.add('hidden');
      document.getElementById('password-error').classList.add('hidden');

      // 非空校验
      if (!markdownValue) {
        document.getElementById('markdown-error').classList.remove('hidden');
        return;
      }
      if (!urlElement.value) {
        document.getElementById('url-error').classList.remove('hidden');
        return;
      }
      if (!passwordElement.value) {
        document.getElementById('password-error').classList.remove('hidden');
        document.getElementById('password-error').innerHTML = 'Password cannot be empty.'
        return;
      }

      fetch('/url', {
        method: 'POST',
        body: JSON.stringify({
          "markdown":markdownValue,
          "url":urlElement.value,
          "password":passwordElement.value})
      })
        .then(response => {
          if (response.ok) {
            // 请求成功，处理响应数据
            return response.json();
          } else {
            // 请求失败，获取错误信息
            return response.text().then(errorMessage => {
              throw new Error(errorMessage);
            });
          }
        })
        .then(data => {
          console.log(data);
          window.location.href = '/' + data.data.url;
        })
        .catch(error => {
          console.log(error);
          document.getElementById('password-error').classList.remove('hidden');
          document.getElementById('password-error').innerHTML = error.message
          // 显示错误信息
          //- alert('Error：' + error.message);
        });
    }  
