extends layout

block content
  // 添加文本编辑框
  div.p-4
    textarea.border.rounded.p-2.mb-2.w-full(style='height: calc(100vh - 10rem);' placeholder='在此输入markdown文本', id='markdown')

  div.h-16.flex.items-center.justify-end.px-4
    input.border.rounded.p-2.w-200(placeholder='在此输入访问地址', id='url')
    input.border.rounded.p-2.mx-5.w-200(placeholder='在此输入修改密码', id='password')
    button.bg-blue-500.text-white.px-4.py-2.rounded(onclick='submit()') 提交


  script.
    function submit() {
      // 获取文本框内容并处理
      const markdownElement = document.getElementById('markdown');
      const urlElement = document.getElementById('url');
      const passwordElement = document.getElementById('password');

      fetch('/url', {
        method: 'POST',
        body: JSON.stringify({
          "markdown":markdownElement.value,
          "url":urlElement.value,
          "password":passwordElement.value})
      })
    }  