doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    script(src='https://cdn.tailwindcss.com')
  body
    block content

    footer.footer.text-center.bg-gray-200.py-4
      p Copyright © 2023 copymd. All rights reserved.
      p Contact Email: haizhilingyu@gmail.com