doctype html
html
  head
    title="Copy Markdown"
    meta(name="viewport" content="width=device-width")
    script(src='https://cdn.tailwindcss.com')
  body
    div.flex.flex-col.min-h-screen
      div.flex-1.mx-auto.max-w-7xl.w-full.p-4
        block content
      footer.footer.text-center.flex-shrink-0.py-4.mt-5.mx-auto.w-full.border-t-2
        p.text-sm Copyright © 2023 copymd. All rights reserved.
        p.text-sm Contact Email: haizhilingyu@gmail.com