doctype html
html
  head
    title= title
    script(src='https://cdn.tailwindcss.com')
  body
    block content

    footer.footer.text-center.bg-gray-200.py-4
      p 版权所有 © 2023 copymd。保留所有权利。
      p 联系邮箱:haizhilingyu@gmail.com